/*
CSS layout for BICICLASICA.COM
Description:Making a reference for the markup and styles
Version: 2.0
Author: rt
Author URI: http://robertotunon.com
*/

vendor-prefixes = o ms moz webkit official
@import 'nib'


@import 'components/variables'

/*--------------------------------------*/
/* Components
/*--------------------------------------*/

/* _____________ Flex ______________ */
@import 'components/flex'

/* _____________ HTML tags ______________ */
@import 'components/html_tags'

/* _____________ Forms ______________ */
@import 'components/forms'

/* _____________ Layout ______________ */
@import 'components/structure'

/* _____________ Buttons ______________ */
@import 'components/buttons'

/* _____________ Video ______________ */
@import 'components/video_embed'


/* _____________ Header ______________ */
@import 'components/header'

/* _____________ Main menu ______________ */
@import 'components/main_menu'

/* _____________ Breadcrumbs ______________ */
@import 'components/breadcrumb'

/* _____________ Filters ______________ */
@import 'components/filters'


/* _____________ Product List ______________ */
@import 'components/product_list'

/* _____________ Price ______________ */
@import 'components/price'

/* _____________ Acorddion ______________ */
@import 'components/accordion'

/* _____________ Motivationals ______________ */
@import 'components/motivationals'

/* _____________ Footer ______________ */
@import 'components/footer'

/* _____________ Sidebar ______________ */
@import 'components/sidebar'



/*--------------------------------------*/
/* Contents
/*--------------------------------------*/

/* _____________ Home ______________ */
@import 'contents/home'

/* _____________ Lists ______________ */
@import 'contents/lists'


/* _____________ Product single ______________ */
@import 'contents/product'


/* _____________ Cart ______________ */
@import 'contents/cart'


/* _____________ Checkout ______________ */
@import 'contents/checkout'

/* _____________ Sections ______________ */
@import 'contents/sections'