/* ________ Filters  ________ */
.filters
	padding 0 .5rem
	justify-content flex-end
	@media (max-width: 768px)
		padding 0 1rem
	@media (max-width: 480px)
		justify-content center
	.item
		font-weight 300
		font-style italic
		font-size .75rem
		line-height 1em
		margin-left .75rem
		padding 0
		background-color transparent
		border none
		flex 0 1 auto
		@media (max-width: 480px)
			margin-left .5rem
		@media (max-width: 340px)
			font-size .75rem
		&:first-of-type
			margin-left 0
		&:before
			content ''
			display inline-block
			vertical-align middle
			width .5rem
			height .75rem
			margin-right .15rem
			background url(../svg/arrow_down.svg) no-repeat center
			background-size contain
			@media (max-width: 480px)
				width .75rem
				height .75rem
				margin-right .15rem