/* ________ Precios  ________ */
.price
	font-family secondary_font
	font-size 2rem
	letter-spacing -.025rem
	line-height .75em
	margin 0 0 .65rem
	.oldprice
		display block
		font-family primary_font
		font-size .875rem
		line-height 1em
		text-decoration line-through
		color gris_masclaro
		margin-bottom .25rem
	.amount
		margin 0
	.decimals
		font-size 60%
		line-height 1em
		letter-spacing -0.05rem
	.currency
		font-family primary_font
		font-size 60%
		line-height 1em
		margin-left -.25rem