/* ________ Product list  ________ */
.product_list
	justify-content flex-start
	width 102%
	margin-left -1%
	.item
		margin 0 1% 3rem
		flex 0 1 23%
		align-self stretch
		flex-flow column wrap
		@media (max-width: 768px)
			flex 0 1 31%
		@media (max-width: 480px)
			flex 0 1 48%
		@media (max-width: 340px)
			flex 1 1 100%
			margin 0 0 3rem
		&:hover
			.buy
				.buyit
					opacity 1
		.product_thumb
			width 100%
			margin 0 0 .5rem 0
			a
				display block
				transition all .25s ease-out
				&:hover
					opacity .65
		.product_name
			width 100%
			margin-bottom .25rem
			padding-bottom .5rem
			border-bottom 1px solid gris_muybajao
			flex 1 0 auto
			a
				font-family primary_font
				font-weight 300
				font-size .875rem
				line-height 1.15em
				letter-spacing -0.025rem
				display block
				transition all .25s ease-out
				&:hover
					color gris_claro
		.buy
			width 100%
			.buyit
				flex 0 1 45%
				font-weight 400
				font-size .875rem
				line-height 1em
				letter-spacing -.025rem
				color gris_claro
				text-transform uppercase
				text-align center
				padding .5rem 0
				background white
				border 1px solid
				opacity 0
				transition all .25s ease-out
				@media (max-width: 768px)
					opacity 1
					flex 0 1 48%
					margin 0 auto 0 0
				@media (max-width: 480px)
					margin 0 auto
					padding .5rem
					flex 0 1 75%
					order 2
				@media (max-width: 340px)
					order 1
					flex 0 1 38%
					margin 0 auto 0 0
				&:hover
					color white
					background gris_masclaro
					border-color gris_masclaro
			.price
				text-align right
				margin 0
				flex 0 1 50%
				@media (max-width: 480px)
					flex 1 1 100%
					order 1
					margin-bottom .5rem
				@media (max-width: 340px)
					flex 0 1 48%
				.oldprice
					font-size .75rem
					margin 0 0 .15rem
				.amount
					font-size 1.375rem
					line-height .65em
				.decimals
					font-size 70%
				.currency
					font-size 70%
					margin-left -.15rem