/* ________ Sidebar ________ */
.sidebar
	flex 0 1 31%
	@media (max-width: 480px)
		flex 1 1 100%
	.module
		padding 1rem
		background-color gris_minimo
		.section_header
			text-align left
			margin-bottom .5rem
			.section_title
				line-height 1em
		.subtitle
			font-weight 300
			font-size 1.15rem
.section
	.sidebar
		flex 0 1 20%
		order 2
		@media (max-width: 480px)
			flex 1 1 100%
			order 0