/* ________ Structure  ________ */
.main_content
	margin 0 auto 2rem

.inner
	max-width 992px
	margin 0 auto 2rem
	padding 0 1rem

.outter
	width 100%
	margin-bottom 2rem
	padding 2rem 0
	background-color gris_minimo
	.inner
		margin-bottom 0

.module
	margin-bottom 2rem
	.section_header
		text-align center

.col
	flex 0 1 32%
	align-self stretch
	margin-bottom 2rem
	@media (max-width: 480px)
		flex 1 1 100%
		margin 0

.section_header
	margin-bottom 2rem
	flex 1 1 100%
	@media (max-width: 480px)
		text-align center
		margin-bottom 1rem

.section_title
	font-family secondary_font
	font-style italic
	font-weight normal
	font-size 1.625rem
	letter-spacing -.025rem
	color gris