/* ________ Colors ________ */
verde         		= #77ae9a
verde_claro 		= #92beae
verde_masclaro  	= #bbd6cc
verde_bajao 		= #d6e7e1
verde_muybajao 		= #e4efeb

rojo         		= #f26649
rojo_claro 			= #f5856d
rojo_masclaro  		= #f8b2a4
rojo_bajao 			= #d6e7e1
rojo_muybajao 		= #fbd1c8

amarillo         	= #ece2a9
amarillo_claro 		= #f0e8ba
amarillo_masclaro  	= #f5f0d4
amarillo_bajao 		= #f9f6e5
amarillo_muybajao 	= #fbf9ee

marron         		= #4b3905
marron_claro 		= #6f6137
marron_masclaro  	= #a59c82
marron_bajao 		= #c9c3b4
marron_muybajao 	= #dbd7cd

negro           	= #232323
gris            	= #3e3e3e
gris_claro      	= #5d5d5d
gris_masclaro   	= #959595
gris_bajao      	= #b8b8b8
gris_muybajao   	= #cacaca
gris_minimo     	= #f0f0f0
gris_superminimo 	= #fbfbfb

/* ________ Font Families ________ */

primary_font		= 'Roboto', sans-serif
secondary_font 		= 'Noto Serif', serif