/* ________ Shopping cart ________ */
.cart
	.also_interesting
		.section_header
			padding-top 1rem
			border-top 1px solid gris_muybajao
.cart_resume
	@media (max-width: 480px)
		padding 1rem
	.section_header
		margin-bottom 1rem
		.section_title
			margin 0
.cesta_resume
	flex 0 1 66.668%
	@media (max-width: 480px)
		margin-bottom 1rem
		flex 1 1 100%
	.labels
		font-style italic
		font-size .875rem
		letter-spacing -.025rem
		justify-content space-between
		.label
			&:nth-of-type(1)
				margin 0 auto 0 0
				flex 0 1 50%
				@media (max-width: 480px)
					flex 0 1 40%
			&:nth-of-type(2)
				flex 0 1 15%
				margin 0 auto
				text-align center
				@media (max-width: 480px)
					display none
			&:nth-of-type(3)
				flex 0 1 10%
				text-align center
				margin 0 auto
				@media (max-width: 480px)
					flex 0 1 20%
			&:nth-of-type(4)
				flex 0 1 18%
				text-align center
				margin 0 0 0 auto
			&:nth-of-type(5)
				flex 0 1 2%
				margin 0 0 0 auto
				@media (max-width: 480px)
					flex 0 1 4%
.shoplist
	.item
		position relative
		flex 1 1 100%
		align-items center
		margin 0 auto 1rem
		padding 0 0 .25rem
		border-bottom 1px solid gris_muybajao
		@media (max-width: 480px)
			padding-bottom .5rem
		&:first-of-type
			@media (max-width: 480px)
				display none
		&:last-of-type
			margin-bottom 0
		.product_thumb
			margin 0 .5rem 1rem 0
			flex 0 1 10%
			@media (max-width: 480px)
				flex 0 1 38%
		.product_name
			font-style italic
			font-family secondary_font
			font-size 1rem
			line-height 1em
			text-align left
			margin 0 auto 0 0
			flex 0 1 40%
			@media (max-width: 480px)
				flex 0 1 58%
		.precio
			font-family primary_font
			font-size .875rem
			line-height 1em
			color gris
			text-align center
			margin 0 auto
			flex 0 1 15%
			@media (max-width: 480px)
				flex 0 1 25%
			.decimals
				vertical-align baseline
				font-size 80%
			.currency
				font-size 90%
				margin 0 0 0 -.15rem
		.quantity
			min-width 3.75rem
			font-size .75rem
			line-height 1em
			text-align center
			margin 0 auto
			flex 0 1 10%
			justify-content center
			@media (max-width: 480px)
				flex 0 1 20%
			.btn
				display inline-block
				vertical-align middle
				width 1.25rem
				height 1.25rem
				font-size 1rem
				line-height 0
				color white
				margin 0
				padding 0
				background-color gris_muybajao
			.current_quantity
				display inline-block
				vertical-align middle
				width 1.25rem
				height 1.25rem
				font-size .875rem
				text-align center
				color gris_claro
				margin 0
				padding 0
				background-color white
				border 1px solid gris_muybajao
		.subtotal
			font-size 1rem
			text-align center
			margin 0 0 0 auto
			flex 0 1 18%
			.decimals
				font-size 80%
			@media (max-width: 480px)
				flex 0 1 25%
		.delete
			flex 0 1 2%
			height 1rem
			margin 0 .5rem 0 auto
			padding 0
			@media (max-width: 480px)
				flex 0 1 4%
.totalcart
	align-items center
	margin 0 0 1rem
	padding 1rem
	background-color gris_minimo

.totals
	flex 0 1 40%
	@media (max-width: 480px)
		flex 1 1 100%
		margin-bottom 2rem
	.item
		font-size .875rem
		text-align right
		margin-bottom .5rem
		padding-bottom .25rem
		border-bottom 1px solid gris_muybajao
		&:last-of-type
			border-bottom none
			margin-bottom 0
			padding 0
		.label
			flex 0 1 45%
		.amount
			font-family primary_font
			font-size .875rem
			line-height 1em
			text-align right
			margin 0 0 0 auto
			flex 0 1 40%
			.currency
				margin 0
		&.grandtotal
			font-size 1.25rem
			text-transform uppercase
			.amount
				font-size 1.25rem
				.decimals
				.currency
					font-size 80%
	.price
		.decimals
		.currency
			vertical-align baseline
			font-size 90%

.securepay
	height 2rem
	flex 0 1 55%
	order -1
	align-self flex-end
	align-items stretch
	@media (max-width: 480px)
		order 2
		flex 1 1 100%
		justify-content space-around
	.item
		text-indent -9999px
		flex 0 0 25%
		align-content center
		margin 0
		&.secure
			text-indent 0
			font-size .75rem
			line-height 1em
			align-items center
			&:before
				content ''
				flex 0 1 18%
				height 100%
				background url(../svg/icon_lock.svg) no-repeat center
				background-size contain
			.text
				flex 0 1 78%
		&.verifiedvisa
			max-width 20%
			background url(../svg/logo_verifiedvisa_grey.svg) no-repeat center
			background-size contain
		&.securecode
			max-width 20%
			background url(../svg/logo_securecode_grey.svg) no-repeat center
			background-size contain
		&.paypal
			max-width 20%
			background url(../svg/logo_paypal_grey.svg) no-repeat center
			background-size contain

.btn
	&.back
		max-width 80%
		font-size .875rem
		line-height 1rem
		margin 0 auto
		@media (max-width: 480px)
			margin 2rem auto 0
			max-width 80%
		&:before
			width .75rem
			height .875rem
			margin 0 .5rem 0 0

.delivery_data
	.delivery
		align-content stretch
		margin-bottom 2rem
		&:before
			content ''
			display inline-block
			vertical-align top
			width 4rem
			height 4rem
			margin 0 .5rem 0 0
			background url(../svg/icon_rocket_grey.svg) no-repeat center white
			background-size 50%
			border-radius 50%
		.estimated_date
			display inline-block
			vertical-align top
			font-size .75rem
			flex 0 1 72%
			.delivery_date
				display block
				font-weight 400
				font-style italic
				font-size 1rem
				line-height 1em
				letter-spacing -.025rem
				color verde
				padding .5rem 0
	.costs
		font-size .875rem
		margin-bottom 2rem
		.title
			font-weight 300
			font-size .875rem
			text-transform uppercase
			margin-bottom .5rem
			border-bottom 1px solid gris_bajao
		.delivery_prices
			margin 0 auto .5rem
			.label
				margin-bottom .5rem
				flex 0 1 48%
	.aclaration
		font-weight 400
		font-style italic
		font-size .875rem
		letter-spacing -.025rem
		color verde