/* ________ Secciones ________ */
.section
	.section_header
		&.outter
			text-align center
			padding 5rem 0
			filter grayscale(1)
			.section_title
				font-size 2.5rem
				color white

/* ________ Sección Galeria ________ */
.gallery
	flex 0 1 78%
	@media (max-width: 768px)
		flex 0 1 72%
	@media (max-width: 480px)
		flex 1 1 100%
	.item
		flex 0 1 24%
		margin-bottom 1rem
		@media (max-width: 480px)
			flex 0 1 48%


/* ________ Section prensa ________ */
.gallery_thumb
	figcaption
		padding .5rem 0
	.press_name
		font-weight 400
		font-size 1rem
		line-height 1em
		margin-bottom 0
	.press_date
		font-weight 300
		font-style italic
		font-size .875rem
		margin-bottom 0

/* ________ Section Equipo ________ */
.team
	.section_header
		background url(../img/biciclasica_equipo.jpg) no-repeat center top 30%
		background-size cover

.people_list
	.item
		text-align center
		margin 0 auto 3rem
		flex-direction column
		flex 0 1 31%
		@media (max-width: 480px)
			flex 0 1 100%
		.person_thumb
			max-width 12rem
			margin 0 auto .5rem
			border-radius 50%
		.person_name
			width 100%
			font-family secondary_font
			font-style italic
			font-size 1.5rem
			line-height 1em
			letter-spacing -.025rem
			margin 0 auto .35rem
		.role
			width 100%
			font-size .875rem
			line-height 1em
			text-transform uppercase
			color gris_claro
			margin-bottom .25rem
		.link
			width 100%
			font-family secondary_font
			font-style italic
			font-size .8125rem
			line-height 1em
			text-decoration none
			color gris_masclaro
